.portfolio__container {
    display: grid;
    gap: 2rem;
    place-items: center;
}

.portfolio__links {
    display: flex;
    justify-content: space-evenly;
}

.portfolio__links a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    margin-top: 0.5rem;
}

.portfolio__container a:first-of-type {
    border: 2px solid blue;
}

.portfolio__container a:last-of-type {
    background: blue;
}

/* MEDIA QUERIES FOR MEDIUM DEVICES */
@media screen and (min-width: 768px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* MEDIA QUERIES FOR LARGE DEVICES */
@media screen and (min-width: 1024px) {
    .portfolio__container {
        grid-template-columns: repeat(3, 1fr);
    }

}