.about__container {
    padding-top: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    display: grid;
    /* grid-template-rows: 1fr 2fr 3fr; */
    /* grid-template-areas:
        "photo"
        "frontend"
        "me";
        */
    gap: 3rem;
}

.about__photo__container {
    grid-area: "photo";
    width: 75%;
    background: linear-gradient(45deg, #Df00a9, #0a84ff);
}

.about__photo {
    transform: rotate(10deg);
    transition: all 500ms ease-in-out;
}
.grid-center {
    display: grid;
    place-items: center;
}

.about__me {
    padding: 1rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    border-radius: 3rem;
    background: white;
    color: black;
    height: fit-content;
}

/* MEDIA QUERIES FOR LARGE DEVICES */
@media only screen and (min-width: 1024px) {
    .about__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* HOVER EFFECTS ONLY FOR DEVICES THAT SUPPORT IT */
@media (hover: hover) {
    .about__photo:hover {
        transition: all 500ms ease-in-out;
        transform: rotate(0deg);
    }
}