#testimonials h2 {
    margin-bottom: 1.5rem;
}

.testimonial__container {
    max-width: 40rem;
    padding-bottom: 3rem;
    background: rgba(0, 0, 255, 0.2);
    border-radius: 4rem;
}

.testimonial {
    margin: auto;
    margin-top: 2rem;
    max-width: 100%;
    display: grid;
    place-items: center;
}

.testimonial__image>img {
    border-radius: 50%;
    border: 5px solid black;
}

.testimonial__review {
    padding: 0 3rem;
    text-align: center;
    max-width: 600px;
}