nav {
    width: max-content;
    background-color:rgba(0, 0, 0, 0.2);
    padding: 1rem;
    position: fixed;
    display: flex;
    gap: 1.5rem;
    z-index: 2;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 1.2rem;
    backdrop-filter: blur(15px);
}

nav a {
    padding: 0.5rem 1rem;
    /* background: var(--color-dark); */
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 1.1rem;
    color: var(--color-white);
}


nav a:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1.5);
    transition: var(--transition);
}

nav a.active {
    transform: scale(1.5);
    background: var(--color-light);
}

nav a.active .nav__title {
    background: black;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: -2px -2px 15px 2px grey;
}

.nav__title {
    position: absolute; 
     bottom: 4.7rem; 
    background: black;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: -2px -2px 15px 2px grey;
}