nav {
    width: max-content;
    background-color:rgba(0, 0, 0, 0.2);
    padding: 1rem;
    position: fixed;
    display: flex;
    gap: 1.5rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    bottom: 2rem;
    border-radius: 1.2rem;
    backdrop-filter: blur(20px);
}

nav a {
    padding: 0.5rem 1rem;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 1.1rem;
    color: var(--color-white);
}
nav .active {
    transform: scale(1.2) !important;
    background: white !important;
    color: black !important;
    transition: all 500ms ease;
}

/* Tooltip container */
.tooltip {
    user-select: none;
    position: relative;
    display: inline-block;
    color: white;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-bottom: 1rem;
    margin-left: -60px;
    text-transform: capitalize;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
/* MEDIA QUERIES FOR SMALL DEVICES */
@media screen and (max-width: 400px) {
    nav {
        gap: 1rem;
        padding: 0.5rem;
    }

    nav a {
        padding: 0.5rem 0.5rem;
        font-size: 1.5rem;
        /* border-radius: 40%; */
    }
}
/* HOVER EFFECTS ONLY FOR DEVICES THAT SUPPORT IT */
@media (hover: hover) {
    nav a:hover:not(.active) {
        background: rgba(0, 0, 0, 0.6);
        transform: scale(1.2);
        transition: var(--transition);
    }

    nav a.active:hover {
        color: black;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;

    }
}
